.house-type-bar {
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f000;
    top:100px;
    position:absolute;

    left: 20vw;
    width: 50vw;
  }
  
  .house-type-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
  }
  
  .house-type-icon.selected {
    color: blue; /* Change color for selected icon */
  }
  
  .house-type-icon:hover {
    color: darkblue; /* Change color on hover */
  }
  
  @media (max-width: 768px) {
    .house-type-bar {
      flex-wrap: wrap;
    }
  }
  

  .house-type-bar {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .house-type-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .house-type-icon:hover {
    transform: translateY(-3px);
  }
  
  .house-type-icon.selected {
    background-color: #f0f0f0;
  }
  
  .house-type-icon svg {
    font-size: 24px;
  }
  
  .house-type-icon span {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  